## 지도학습

#### 분류 - 다항분류
- 목적변수의 범주가 2개 이상인것

In [1]:
import pandas as pd

In [4]:
df_TFD = pd.read_csv('../../../datasets/TitanicFromDisaster_train.csv')
df_TFD[:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### 전처리
- 목표변수 : 'Pclass'
- 설명변수 : 'Survived', 'Age', 'Fare'

In [5]:
df_TFD.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
df_TFD_extract = df_TFD[['Survived', 'Pclass', 'Age', 'Fare']]
df_TFD_extract.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [10]:
df_TFD_extract_preprocess = df_TFD_extract.dropna()
df_TFD_extract_preprocess[:2]

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833

In [13]:
df_TFD_extract_preprocess['Pclass'].value_counts()

## 'Pclass'는 3개의 범주로 이루어져있음을 알수 있음

3    355
1    186
2    173
Name: Pclass, dtype: int64

#### 정형화

In [14]:
target_train = df_TFD_extract_preprocess['Pclass'] #목표변수 
features_train = df_TFD_extract_preprocess.drop(columns=['Pclass']) #설명변수 
target_train.shape, features_train.shape

((714,), (714, 3))

#### 모델 학습

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier() #인스턴스화 
model.fit(features_train, target_train) #모델 훈련

DecisionTreeClassifier()

In [22]:
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree

In [25]:
features_train.columns.to_list() #리스트로 바꾸고 plot_tree에 넣어야함

['Survived', 'Age', 'Fare']

In [30]:
 %matplotlib tk

In [35]:
# plot_tree(model, feature_names=features_train.columns.to_list()) # 수치와 함께 그래프 표시
plt.figure(figsize=(30,20))
plot_tree(model, feature_names=features_train.columns.to_list(), filled=True) # filled=True
plt.show()

#### 평가

In [18]:
target_prdict = model.predict(features_train)  #설명변수를 통해 목저변수의 값을 예측
len(target_prdict)

714

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(target_train, target_prdict) #실제값과 예측한 값을 비교를 통해 잘 예측했는지 평가

1.0