In [3]:
import pandas as pd

### 병합
- 1. 인덱스 재할당 
- 2. 기존 인덱스 drop 
     - 2가지 실행 후 concat

In [5]:
# Sample DataFrames
df1 = pd.DataFrame({'A': [1, 'A_2', 3]}, index=[0, 1, 2])
df2 = pd.DataFrame({'B': [4, 'B_5', 6]}, index=[3, 4, 5])

In [9]:
df1

     A
0    1
1  A_2
2    3

In [7]:
df2

     B
3    4
4  B_5
5    6

In [11]:
pd.concat([df1, df2], axis=1) # 선 조치 필요

     A    B
0    1  NaN
1  A_2  NaN
2    3  NaN
3  NaN    4
4  NaN  B_5
5  NaN    6

In [13]:
df1.count(), df2.count() # 사이즈 확인

(A    3
 dtype: int64,
 B    3
 dtype: int64)

In [14]:
df1.reset_index() #인덱스 재할당

   index    A
0      0    1
1      1  A_2
2      2    3

In [15]:
df2.reset_index()

   index    B
0      3    4
1      4  B_5
2      5    6

In [16]:
pd.concat([df1.reset_index(),df2.reset_index()], axis=1) # 선 조치 필요 --> 실제 인덱스까지 병합됨

   index    A  index    B
0      0    1      3    4
1      1  A_2      4  B_5
2      2    3      5    6

In [22]:
df1_reset = df1.reset_index(drop=True) # 기존 인덱스 drop
df1_reset

     A
0    1
1  A_2
2    3

In [23]:
df2_reset = df2.reset_index(drop=True)
df2_reset

     B
0    4
1  B_5
2    6

In [25]:
pd.concat([df1_reset, df2_reset], axis=1)

     A    B
0    1    4
1  A_2  B_5
2    3    6

In [ ]:
- 인덱스 재할당 
- 기존 인덱스 drop 
- 후 concat